@import "config/import";
html{
  background: red;
}
body{
  background: #fff;
  margin: 10px;
  padding: 10px;
}
.hidden-xs{
  @include small-mobile {
    display: none;
  }
}
.main-title{
  margin: 22px 0 32px;
  @include small-mobile {
    font-size: 36px;
  }
  @include mobile {
    font-size: 40px;
  }
}
.secondary-title{
  @include small-mobile {
    font-size: 28px;
  }
  @include mobile {
    font-size: 32px;
  }
}
.project-title{
  margin: 8px 0 12px;
  @include small-mobile {
    font-size: 28px;
  }
  @include mobile {
    font-size: 32px;
  }
}
.project-subtitle{
  @include small-mobile {
    font-size: 20px;
  }
}
img{
  max-width: 100%;
  height: auto;
  display: block;
  @include mobile {
    max-width: 100%;
  }
}
.project-card{
  margin: 45px 0;
  @include small-mobile {
    width: 100%;
  }
  @include mobile {
    @include calc( width,  $two-col-width - $two-col-margin * 2)
    float: left;
    margin: 45px 1%;
  }
}
.clear{
  clear: both;
  height: 0;
  overflow: hidden;
}
