.navbar{
	display: flex;
	@include small-mobile {
    height: 28px;
    border-bottom: 1px solid $grey-light-e7;
	}
	@include mobile {
		padding-top: 25px;
		height: 50px;
    border-bottom: 1px solid $grey-light-e7;
	}
  @include tablet {

	}
	@include desktop {

	}

	.search{
		flex: 1;
		text-align: right;
	}
	.title{
		flex: 2;
		text-align: center;
	}
	.menu{
		flex: 1;
		text-align: left;
	}
}
.nav{
	display: none;
  @include small-mobile {
    width: 100%;
    height: auto;
    background: $grey-light-f5;
		margin-bottom: 20px;
  }
	@include mobile {
		width: 100%;
		height: auto;
		background: $grey-light-f5;
		margin-bottom: 20px;
	}
  ul{
    li{
			border-bottom: 1px solid $grey-light-e7;
			@include small-mobile {
				padding: 12px;
			}
			@include mobile {
				padding: 25px;
			}
      a{
        @include small-mobile {
          margin: 15px 0;
        }
				@include mobile {
					margin: 15px 0;
				}
      }
    }
  }
}
